/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
/*_______________________________________*/

body {
    height: 100vh;
    display: grid;
    grid-template: 10vh 1fr / max(20%, 200px) 1fr;
    font-family: 'Merriweather', sans-serif;
}

.header {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / 2 / 3;
    background-color: #F8EDE3;
    color: #8D493A;
    border-bottom: 3px solid #8D493A;
}

.logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1%;
    padding-left: 1rem;
}

.logo svg {
    width: clamp(3rem, 6vw, 4rem);
    height: auto;
    fill: #8D493A;
}

.logo h1 {
    font-size: clamp(1.7rem, 3vw, 5rem);
}

.sidebar {
    height: 100%;
    width: 100%;
    grid-area: 2 / 1 / 3 / 2;
    padding: 15px;
    background-color: #8D493A;
    color: #F8EDE3;
}

.form {
    width: 100%;
    padding: 0px;
    overflow: hidden;
}

.form li {
    list-style-type: none;
    padding-top: 10px;
}

form * {
    width: 100%;
}

input {
  background-color: #F8EDE3;
  border: none;
}

#submit {
  background-color: #F8EDE3;
  border: none;
  color: #8D493A;
  font-size: 1.rem;
  font-weight: 1000;
  border-radius: 10px;
  display: block;
}

#reset {
  background-color: #F8EDE3;
  border: none;
  color: #8D493A;
  font-size: 1.rem;
  font-weight: 1000;
  border-radius: 10px;
  display:block;
}

#msg {
  display: none;
  padding-bottom: 10px;
}

.checkbox {
    display: flex;
    gap: 5px;
    padding-bottom: 10px;
}

.checkbox input {
    width: 15px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    padding: 30px;
    gap: 20px;
    overflow: auto;
    background-color: #D0B8A8;
}

.book-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 3px solid #8d493a;
    border-radius: 15px;
    max-height: fit-content;
    background-color: #F8EDE3;
    color: #8D493A
}

.bold {
  font-weight: 1000;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.read-status {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.footer svg {
  fill: #8D493A;
  width: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: right;
  gap: 5px;
  padding: 0 5px;
}

.book-card .button {
  fill: #8D493A;
  display: flex;
  justify-content: center;
  width: 2rem;
  border: 2px solid #8D493A;
  border-radius: 10px;
}

.image-holder {
    outline: 2px solid #8D493A;
    align-self: center;
    width: 13rem;
    min-height: 280px;
    height: auto;
    max-height: 300px;
    margin-bottom: 20px;
    background-color: #D0B8A8;
}

hr {
  border-color: #8D493A;
  margin-bottom: 10px;
}

#doneBlock {
  display: none;
}

#doneBlock svg{
  margin-top: 70px;
  fill: #F8EDE3;
  height: 150px;
}

#doneBlock p {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 10px;
}